<div class="vertical-menu">
    {% if demos_sub_menu is not none %}
        {% for k in demos_sub_menu %}
            <a href="{{demos_sub_menu[k].url}}" {% if demos_sub_menu[k].is_selected%} class="active"{% endif %}>{{demos_sub_menu[k].title}}</a>
        {% endfor %}
    {% endif %}
</div>