<div class="horizontal-menu">
    {% if types_menu is not none %}
    <ul>
        {% for k in types_menu %}
        <li><a href="{{types_menu[k].url}}" {% if types_menu[k].is_selected%} class="active"{% endif %}>{{types_menu[k].title}}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
</div>