/* Circle loader */
.loader {
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #f99600;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  margin-left: 5%;
  margin-top: 0.5%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.img-examples  {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.img-examples img {
  width: 140px;
  height: auto;
  margin-top: 8px;
  margin-right: 12px;
  margin-bottom: 8px;
}

/*Demos left menu*/

.vertical-menu {
  width: 250px; /* Set a width if you like */
  height: 100%;
  margin-top: 48px;
  margin-right: 18px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.vertical-menu a {
  background-color: #eee; /* Grey background color */
  color: #3e3e3e;
  display: block; /* Make the links appear below each other */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
  background-color: #ccc; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
  background-color: #f99600;
  color: white;
}


/*Demo types menu*/

.horizontal-menu {
  text-align:left;
}

.horizontal-menu ul {
  width: fit-content;
  margin: 0 auto;
  border: 1px solid #e7e7e7;
  background-color: #f3f3f3;

  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  margin-bottom: 24px;
  border-radius: 10px;
}

.horizontal-menu li {
  display: inline-block;
}

.horizontal-menu li a {
  display: block;
  color: #666;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.horizontal-menuli a:hover:not(.active) {
  background-color: #ddd;
}

.horizontal-menu li a.active {
  color: white;
  background-color: #f99600;
  border-radius: 10px;
}

/* Website template by freewebsitetemplates.com */
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Regular.eot');
  src: local('☺'), url('../fonts/OpenSans-Regular.woff') format('woff'), url('../fonts/OpenSans-Regular.ttf') format('truetype'), url('../fonts/OpenSans-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Play';
  src: url('../fonts/Play-Regular.eot');
  src: local('☺'), url('../fonts/Play-Regular.woff') format('woff'), url('../fonts/Play-Regular.ttf') format('truetype'), url('../fonts/Play-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  position: relative;
  min-height: 100vh;
  background-color: #fff;
  font-family: 'OpenSans';
  margin: 0;
}
img {
  border: 0;
}
.clearfix:after, #contents:after {
  clear:both;
  content:"";
  display:block;
  height:1%;
  line-height:0;
  visibility:hidden;
}
.btn_container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.btn {
  background: url(../images/bg-button.png) no-repeat;
  background-position: 0 -70px;
  color: #fff;
  display: inline-block;
  font: 24px/60px 'OpenSans';
  height: 60px;
  width: 230px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border-style: none;
  margin-top: 8px;
  margin-bottom: 8px;
}
.btn:hover {
  background-position: 0 0;
}
/*------------------------------ HEADER ------------------------------*/
#header {
  background-color: #eee;
  border-bottom: 1px solid #e6e6e6;
  padding: 27px 0;
}
#header > div, #footer > div {
  width: 920px;
  margin: 0 auto;
  padding: 0 20px;
}
/** Logo **/
#header .logo {
  float: left;
  margin-right: 20px;
}
#header .logo a {
  background: url(../images/logo.png) no-repeat center top;
  background-size: contain;
  color: #000;
  display: block;
  font: 15px/30px 'Play';
  height: 25px;
  width: 76px;
  padding-top: 68px;
  text-decoration: none;
  text-transform: uppercase;
}
/** Navigation **/
#navigation {
  display: inline-block;
  list-style: none;
  line-height: 100px;
  margin: 0;
  padding: 0;
}
#navigation ul {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;
}
#navigation li {
  float: left;
  width: 160px;
  text-align: center;
}
#navigation li a {
  color: #818181;
  font-size: 15px;
  line-height: 30px;
  text-decoration: none;
}
#navigation li a:hover {
  color: #000;
}
#navigation li.active a {
  color: #f99600;
}
#adbox {
  background: url(../images/bg-adbox.jpg) repeat-x left top;
  height: 380px;
  padding: 60px 0;
}
#adbox > div {
  width: 800px;
  margin: 0 auto;
  padding: 0 80px;
}
#adbox > div img {
  float: right;
  margin-left: 60px;
}
#adbox h1, #adbox h2 {
  color: #2c2c2c;
  font-size: 60px;
  line-height: 60px;
  margin: 0;
  text-transform: uppercase;
}
#adbox h2 {
  font-size: 30px;
  line-height: 36px;
  text-transform: none;
}
#adbox p {
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}
#adbox p span {
  display: block;
  font-size: 12px;
  width: 360px;
  padding: 24px 0;
  text-align: center;
}
#adbox p span b {
  font-weight: normal;
  display: block;
  width: 256px;
}
/*------------------------------ CONTENTS ------------------------------*/

.description {
  width: 700px;
}

#contents {
  min-height: 510px;
  width: 880px;
  margin: 0 auto;
  padding: 54px 40px;
  padding-bottom: 8rem;    /* Footer height */
}
#parts {
  display: inline-flex;
}
h1 {
  color: #3e3e3e;
  font-size: 30px;
  font-weight: normal;
  line-height: 30px;
  margin: 0 0 30px;
}
h2 {
  color: #2c2c2c;
  font-size: 24px;
  font-weight: normal;
  line-height: 24px;
  margin: 0 0 12px;
}
p {
  color: #585858;
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 30px;
}
p a {
  color: #585858;
}
#tagline h1 {
  margin-left: 20px;
}
#tagline > div {
  float: left;
  width: 400px;
  margin: 0 20px;
}
#contents .features {
  width: 810px;
  margin: 0 auto;
}

#contents textarea{
  font-size: 1.17em;
  width:700px;
  height:60px;
  border-color: #ccc
}

.text_column {
  width:175px;
  float:left
}

.output_text {
  font-size: 1.17em;
  width:500px;
  border: 1px;
  border-color: #ccc;
}

.features > div {
  display: inline-block;
  margin: 0 0 30px;
}
.features > div img {
  float: left;
  margin-right: 20px;
  margin-top: 36px;
}
.date {
  float: left;
  height: 78px;
  width: 70px;
  margin-right: 20px;
  border: 1px solid #d5d5d5;
  text-align: center;
}
.date p {
  margin: 12px 0 0;
}
.date p span {
  display: block;
  font-size: 30px;
  margin-bottom: 6px;
}
.author {
  color: #585858;
  display: block;
  font-size: 12px;
}
.more {
  background-color: #727272;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  line-height: 30px;
  width: 100px;
  text-align: center;
  text-decoration: none;
}
.more:hover, .message input[type='submit']:hover {
  background-color: #f99600;
  color: #000;
}
/** main **/
.main {
  float: left;
  background: url(../images/divider.png) repeat-y right top;
  min-height: 100px;
  width: 620px;
  padding-right: 24px;
}
.main h1, .sidebar h1 {
  margin: 0 0 12px;
  position: relative;
  top: -18px;
}
.main h2 span {
  display: block;
  font-size: 12px;
}
/** sidebar **/
.sidebar {
  float: left;
  min-height: 848px;
  width: 216px;
  margin-left: 20px;
}
.sidebar ul, .news {
  list-style: none;
  margin: 0;
  padding: 0;
}
.news li {
  border-top: 1px solid #d5d5d5;
  padding: 24px 30px 0 100px;
  position: relative;
}
.news li .date {
  float: none;
  position: absolute;
  left: 0;
  top: 30px;
}
.news li > p span, .post > span {
  display: block;
  text-align: right;
}
.posts {
  border-top: 1px solid #d5d5d5;
}
.posts li {
  border-bottom: 1px solid #d5d5d5;
  padding: 24px 10px 0;
}
.posts li p {
  font-size: 14px;
}
.posts li .title {
  font-size: 16px;
  font-weight: normal;
  margin: 0 0 12px;
}
.posts li .title a {
  color: #2c2c2c;
  font-size: 16px;
  text-decoration: none;
}
.post {
  width: 785px;
  margin: 0 auto;
}
.post h1 {
  padding-top: 12px;
}
#about {
  width: 740px;
  margin: 0 auto;
}
#about h1, .section h1 {
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 12px;
}
.section {
  float: left;
  width: 390px;
  margin-right: 50px;
}
.section h1 {
  margin-bottom: 18px;
}
.message input[type='text'], .message textarea {
  color: #aeaeae;
  font-size: 13px;
  height: 33px;
  line-height: 33px;
  width: 380px;
  border: 1px solid #d5d5d5;
  margin: 0 0 6px;
  padding: 0 4px;
}
.message textarea {
  height: 175px;
  overflow: auto;
  resize: none;
}
.message input[type='submit'] {
  float: right;
  background-color: #818181;
  color: #d5d5d5;
  cursor: pointer;
  font: 13px/30px Arial, Helvetica, sans-serif;
  height: 30px;
  border: 0;
  margin: 0;
  padding: 0 10px;
}
.contact {
  background-color: #f8f8f8;
  width: 270px;
  padding: 124px 60px;
  text-align: center;
}
.contact p span {
  color: #2c2c2c;
  display: block;
  font-size: 30px;
  line-height: 36px;
  padding: 18px 0;
}
/*------------------------------ FOOTER ------------------------------*/
#footer {
  background-color: #eee;
  border-top: 1px solid #d8d8d8;
  padding: 30px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3.5rem;            /* Footer height */
}
#footer p {
  font-size: 12px;
  line-height: 30px;
  padding-left: 10px;
}
#connect {
  float: right;
  display: inline-block;
  margin-right: 30px;
}
#connect a {
  background: url(../images/icons.png) no-repeat;
  display: inline-block;
  height: 30px;
  width: 30px;
  margin: 0 10px;
}
#connect a.googleplus {
  background-position: 0 -40px;
}
#connect a.twitter {
  background-position: 0 -80px;
}
#connect a.tumbler {
  background-position: 0 -120px;
}
#connect a.facebook:hover {
  background-position: -40px 0;
}
#connect a.googleplus:hover {
  background-position: -40px -40px;
}
#connect a.twitter:hover {
  background-position: -40px -80px;
}
#connect a.tumbler:hover {
  background-position: -40px -120px;
}

/*---------------------------------- Upload form- ---------------------------------*/
#uploadForm {
  clear:both;
}

/*---------------------------------- Dropdown Button ----------------------------------*/
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  margin-bottom: 8px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 700px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  height: 350px;
  overflow-y: auto;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}


/* 404 page */
#notfound {
  position: relative;
  height: 60vh;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.notfound {
  max-width: 520px;
  width: 100%;
  line-height: 1.4;
}

.notfound .notfound-404 {
  position: absolute;
  left: 0;
  top: 0;
  height: 150px;
  width: 200px;
  z-index: -1;
}

.notfound .notfound-404 h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 238px;
  font-weight: 700;
  margin: 0px;
  color: #e3e3e3;
  text-transform: uppercase;
  letter-spacing: 7px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50% , -50%);
      -ms-transform: translate(-50% , -50%);
          transform: translate(-50% , -50%);
}

.notfound h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 28px;
  font-weight: 400;
  text-transform: uppercase;
  color: #222;
  margin-top: 12px;
  margin-bottom: 15px;
}

.notfound .notfound-search {
  position: relative;
  padding-right: 123px;
  width: 100%;
  margin: 30px 0px 20px;
}

.notfound .notfound-search input {
  font-family: 'Poppins', sans-serif;
  width: 100%;
  height: 40px;
  padding: 3px 15px;
  color: #222;
  font-size: 18px;
  font-weight: 400;
  background: #fff;
  border: 2px solid rgba(21, 23, 35, 0.2);
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.notfound .notfound-search input:focus {
  border-color: #57a3f8;
}

.notfound .notfound-search button {
  font-family: 'Poppins', sans-serif;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 120px;
  height: 40px;
  text-align: center;
  border: none;
  background: #57a3f8;
  cursor: pointer;
  padding: 0;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
}

.notfound a {
  font-family: 'Poppins', sans-serif;
  display: inline-block;
  font-weight: 700;
  border-radius: 15px;
  text-decoration: none;
  color: #f99600;
}

.notfound a:hover {
  color: #f99600;
}

.notfound a>.arrow {
  position: relative;
  top: -2px;
  border: solid #f99600;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
}