<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
	<link rel="stylesheet" href="/css/style.css" type="text/css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="/js/demo_page.js"></script>
</head>
<body>
	<div id="header">
		<div>
			<div class="logo">
				<a href="/">OnPositive</a>
			</div>
			<ul id="navigation">
				<li class="active">
					<a href="demos">ML Demos</a>
				</li>
				<li>
					<a href="contact.html">Contact</a>
				</li>
			</ul>
		</div>
	</div>

	<div id="contents">
		{% include "demos/types_menu.html" ignore missing %}
		<div id="parts">
			{% include "demos/demos_menu.html" ignore missing %}
			{{demo | safe}}
		</div>
	</div>
	<div id="footer">
		<div class="clearfix">
			<div id="connect">
				<a href="http://www.facebook.com/" target="_blank" class="facebook"></a><a href="http://www.googleplus.com/" target="_blank" class="googleplus"></a><a href="http://www.twitter.com/" target="_blank" class="twitter"></a><a href="https://www.tumblr.com/" target="_blank" class="tumbler"></a>
			</div>
			<p>
				© 2019 OnPositive. All Rights Reserved.
			</p>
		</div>
	</div>
</body>
</html>